.page {
    text-align: center;
    background-color: rgb(22, 207, 207);
    height: 80vh;
}
body{
    background-color:rgb(194, 15, 194);
    align-content: center;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}
.menu_button {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}
#logo_container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}
#logo{
    margin: 0 auto;
    width: 100%;
}
a{
    line-height: 0.1;
    font-size:6px;
}

#login_submit {
    vertical-align: middle;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login_submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login_submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login_submit:hover span {
    padding-right: 25px;
}

#login_submit:hover span:after {
    opacity: 1;
    right: 0;
}

.register_form {
    margin:auto;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: stretch;
}
.register_row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
