.page {
    text-align: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 93vh;
}
#header{
    margin: auto;
    margin-bottom: 1%;
    width: 60%;
    background-image: url("assets/plate.png");
    text-align: center;
}
#footer{
    margin-top: 0.5%;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    background-color: rgb(74, 110, 110);
}
body{
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: black;
    align-content: center;
}

#header-text{
    font-family: "Arial", sans-serif;
    color: #f2f2f2;
    font-size: 60px;
    display: inline-block;
    vertical-align: middle;
}
#header-logo{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 13%;
    right: 1%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.close-button:hover {
    color: red;
}
.menu_button {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}
#landing{
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
a{
    line-height: 0.1;
    font-size:6px;
}
#login{
    background-image: url(assets/login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(221, 125, 0);
    font-size: 25px;
}
#register{
    background-image: url(assets/register.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#login_submit {
    vertical-align: middle;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login_submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login_submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login_submit:hover span {
    padding-right: 25px;
}

#login_submit:hover span:after {
    opacity: 1;
    right: 0;
}

.register_form {
    margin:auto;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: stretch;
}
.register_row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.shipCardContainer {
    display: grid;
    margin: 0% 20%;
    grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
    justify-content: center;
    gap: 20%;
    
}

.shipCard {
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.divider {
    height: 1px;
    width: 100%;
    border-bottom: 2px dotted black;
    margin: 10px 0;
  }
img {
    width: 64px;
    height: 64px;
}

button {
    padding: 10px;  
}
#theCanvas{
    margin-top: 0.5%;
}
#scoreboard{
    background-image: url(assets/header_logo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin-left: 25%;
    /* margin-bottom: 25%; */
    /* height: max-content; */
}
#scoretable{
    margin: auto;
    width: 50%;
    height: fit-content;
    /* margin-left: 45%; */
}

table, td,th {
    border: 1px solid black;
}
.child{
    margin-top: 0.5%;
    display: inline-block;
    vertical-align: top;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px; /* change this value to adjust the menu's width */
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bar-button {
    display: none;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
  }
  
  .menu button:hover {
    background-color: #f9f9f9;
    transform: scale(85%);
  }
  .tab {
    position: absolute;
    top: 50%;
    right: -40px; /* change this value to adjust the position of the tab */
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
  }
  /* #menu{
    width: 0px;
  } */